.App {
  text-align: center;
  background-color:#183351; /* Light yellow background */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6c757d; /* Dark gray background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff; /* White text */
}

.App-link {
  color: #007bff; /* Blue link */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Question.css */
.question-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff; /* Blue text */
}

.answer-option {
  margin-bottom: 5px;
}

.radio-input {
  margin-right: 5px;
}

/* QuestionSelector.css */
.question-selector-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* White background */
}

.question-selector-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.question-item {
  margin-bottom: 10px;
}

.question-checkbox {
  margin-right: 10px;
}

.start-test-button {
  background-color: #28a745; /* Green button */
  color: #ffffff; /* White text */
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.start-test-button:hover {
  background-color: #218838; /* Dark green hover */
}

